{% from 'bootstrap/wtf.html' import form_field %}
<form id="ModalForm" name="stepForm" class="form" method="post">
    <div class="modal-header">
        <h2 class="modal-title">{{ _('Register') }}</h2>
    </div>
    <div class="modal-body">
      {{ register_user_form.hidden_tag() }}
    {{ form_field(register_user_form.username) }}
    {{ form_field(register_user_form.email) }}
    {{ form_field(register_user_form.password) }}
    {{ form_field(register_user_form.password_confirm) }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button id="submit" type="submit" class="btn btn-success">Регистрация</button>
    </div>
</form>
