{% from 'bootstrap/wtf.html' import form_field %}
<form id="ModalForm" name="stepForm" class="form" method="post">
    <div class="modal-header">
        <h2 class="modal-title">{{ _('Reset Your Password') }}</h2>
    </div>
    <div class="modal-body">
      {{ password_reset_form.hidden_tag() }}
      {{ form_field(password_reset_form.password) }}
      {{ form_field(password_reset_form.password2) }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button id="submit" type="submit" class="btn btn-success">Сброс</button>
    </div>
</form>