{% extends "users/index.html" %}
{% block scripts %}
{{ super() }}
<script>
$(document).ready(function () {
        var url = '/login_modal'
        $.get(url, function (data) {
            $('#Modal .modal-content').html(data);
            $('#Modal').modal();
            $('#submit').click(function (event) {
                event.preventDefault();
                $.post(url, data = $('#ModalForm').serialize(), function (
                    data) {
                    if (data.status == 'ok') {
                        $('#Modal').modal('hide');
                        var url = new URL(window.location.href).search;
                        var res = '/' + url.slice(9);
                        $(location).attr('href', res);
                    } else {
                        $('.err').remove()
                        $('<h4 class="err">' + data.status + '</h4>').insertAfter('.modal-title')
                        $('.form-group').addClass('has-error')
                    }
                })
            });
        })
});
</script>
{% endblock %}

