{% extends "users/index.html" %}
{% block scripts %}
{{ super() }}
<script>
$(document).ready(function () {
        var url = '/login_modal'
        $.get(url, function (data) {
            $('#Modal .modal-content').html(data);
            $('#Modal').modal();
            $('#submit').click(function (event) {
                event.preventDefault();
                $.post(url, data = $('#ModalForm').serialize(), function (
                    data) {
                        if (data.status == 'ok') {
                        $('#Modal').modal('hide');
                        var url = '/index'
                        $(location).attr('href', url);
                    } if (data.status == 'Invalid username or password') {
                        $('.err').remove();
                        $('.help-block').remove();
                        $('<h4 class="err">' + data.status + '</h4>').insertAfter('.modal-title');
                        $('.form-group').addClass('has-error');
                    } else {
                        var obj = JSON.parse(data);
                        for (var key in obj) {
                            if (obj.hasOwnProperty(key)) {
                                var value = obj[key];
                            }
                        }
                        $('.help-block').remove();
                        $('.err').remove();
                        $('.form-group').removeClass('has-error');
                        $('<p class="help-block">' + value + '</p>')
                            .insertAfter('#' + key);
                        $('#' + key).parent().addClass('has-error');
                    }
                })
            });
        })
});
</script>
{% endblock %}

