{% extends "layout.html" %}

{% block content %}
<div class="page-header">
    <h1>
        Привет, {{ current_user.username }}!
    </h1>
    <h3>Вы еще не подтвердили свой аккаунт.</h3>
    <p>
        Для полного доступа к сайту вам необходимо подтвердить свой аккаунт.
        Проверьте свой почтовый ящик, вы должны были получить электронное письмо со ссылкой подтверждения.
    </p>
    <p>
        Вам нужно еще одно подтверждение по электронной почте?
        <a href="{{ url_for('users.resend_confirmation') }}">Нажмите сюда.</a>
    </p>
</div>
  
{% endblock %}