{% extends "layout.html" %}


{% block content %}
<div class="page-header">
<img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=128) }}">
<div class="profile-header">
<h3 class="mt-5">--=={{ user.username }}==--</h3>
    {% if user.name or user.location %}
        <p>{% if user.name %}{{ user.name }}{% endif %}
        {% if user.location %}
        From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
        {% endif %}
        </p>
    {% endif %}
    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
    <p>Member since {{ moment(user.member_since).format('L') }}. Last seen {{ moment(user.last_seen).fromNow() }}.</p>
 </div>
    {% if current_user.username == user.username %}
    <a class="btn btn-primary" href="{{ url_for('users.edit_profile') }}">Edit Profile</a>
    <a class="btn btn-primary" id="res" href="#">Reset Password</a>
    <a class="btn btn-primary" href="{{ url_for('users.change_email_request') }}">Change Email</a>
    {% endif %}
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script>
$(document).ready(function () {
  $( "#res" ).click(function(){
        var url = '/change_pass';
        $.get(url, function (data) {
            $('#Modal .modal-content').html(data);
            $('#Modal').modal();
            $('#submit').click(function (event) {
                event.preventDefault();
                $.post(url, data = $('#ModalForm').serialize(), function (
                    data) {
                        if (data.status == 'ok') {
                        $('#Modal').modal('hide');
                        var url = '/index'
                        $(location).attr('href', url);
                    } if (data.status == 'Invalid username or password') {
                        $('.err').remove();
                        $('.help-block').remove();
                        $('<h4 class="err">' + data.status + '</h4>').insertAfter('.modal-title');
                        $('.form-group').addClass('has-error');
                    } else {
                        var obj = JSON.parse(data);
                        for (var key in obj) {
                            if (obj.hasOwnProperty(key)) {
                                var value = obj[key];
                            }
                        }
                        $('.help-block').remove();
                        $('.err').remove();
                        $('.form-group').removeClass('has-error');
                        $('<p class="help-block">' + value + '</p>')
                            .insertAfter('#' + key);
                        $('#' + key).parent().addClass('has-error');
                    }
                });
            });
        });
  });      
});
</script>
{% endblock %}
