{% extends "layout.html" %}

{% block content %}
<div class="blog-post">
  <h2 class="blog-post-title">{{ post.title }}</h2>
  <p class="blog-post-meta">Добавлено {{ moment(post.created).format('LLL') }} 
    <a href="{{ url_for('users.user', username=post.author.username) }}">{{ post.author.username }}</a></p>
  {% if post.tags %}
    <p class="blog-post-meta">
    {% for tag in post.tags %}  
    <a class="btn btn-primary btn-xs" href="{{ url_for('posts.tag_detail', slug=tag.slug) }}" role="button">{{ tag.name }}</a>
    {% endfor%}
    </p>
  {% endif %}
  
  {{ post.pre_body|safe }}
  {{ post.body|safe }}
  <hr>
  <p class="blog-post-meta">Просмотров {{ post.count }}</p>
  <hr>

</div>


{% endblock %}
