{% extends "layout.html" %}

{% block content %}
{% for post in posts%}
<div class="blog-post">
  <h2 class="blog-post-title">{{ post.title }}</h2>
  <p class="blog-post-meta">{{ moment(post.created).format('LLL') }} 
    <a href="{{ url_for('users.user', username=post.author.username) }}">{{ post.author.username }}</a></p>
  {% if post.tags %}
    <p class="blog-post-meta">
    {% for n in post.tags %}  
    <a class="btn btn-primary btn-xs" href="#" role="button">{{ n.name }}</a> 
    {% endfor%}
    </p>
  {% endif %}
  
  {{ post.body|safe }}

  <p class="blog-post-meta"><a href="#">Далее >></a></p>
  <hr>

</div>
{% endfor %}
<nav>
  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</nav>

{% endblock %}
